.link-map{
    display: flex;
    flex-direction: column;
}
.link-map a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.25rem;

}
.link-map a:hover {
    text-decoration: underline;
}
.link-map a::before {
    content: "♥ ";
}
